@import "tailwindcss";

/* scrollbar moderna */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--surface);
}

::-webkit-scrollbar-thumb {
  background: #2a2a33;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2a2a33 var(--surface);
}

:root {
  /* base */
  --background: #0b0b0f;
  --foreground: #f4f4f5;

  /* surfaces */
  --card: #121217;
  --border: #26262e;

  /* primary brand */
  --primary: #8e24aa;
  --primary-hover: #c435e9;

  /* accent */
  --accent: #06b6d4;

  /* success */
  --success: #2aaa4b;

  /* text */
  --muted: #a1a1aa;

  /* error */
  --error: #ef4444;
  --error-soft: rgba(239, 68, 68, 0.1);

  --surface: #18181f;
  --surface-hover: #1f1f27;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-border: var(--border);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-accent: var(--accent);
  --color-success: var(--success);

  --color-muted: var(--muted);

  --color-error: var(--error);
  --color-error-soft: var(--error-soft);

  --color-text-primary: var(--foreground);
  --color-text-secondary: var(--muted);

  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
